
body{
  background-image:url("/imagenes/blackback.jpeg");
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	color:black;
}
a{
  color:white;
  font-style: oblique;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 24px;
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
}
p{
  line-height: normal;
  text-align: justify;
  font-size: 18px;
}

nav{
  margin: 20px;
  padding: 10px;
  vertical-align: center;
	background-color: black;
	color: white;
	height: 30px;
	margin: :20px;

}
footer{
	background-color: black;
	color: white;
	height: 30px;
	margin: :20px;
	text-align: center;
}
div{
    background-image:url("/imagenes/oldpaperback.jpg");
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: black;
    border-width: medium;
}
.resumen{
  height: 300px;
}
.flotante{
  float: left;
}
.centrado{

  text-align: center;
  font-size: 12px;
  font-style: oblique;
}
