

body{
	background-image: url("/imagenes/blueback.jpg");
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	color:black;
}
a{
  color:white;
  font-style: oblique;
  font-family: fantasy;
  font-weight: bolder;
  font-size: 24px;
}

.autor-libros{
	width: 100%;
	height: 340px;
	color:black;
	margin-bottom: 20px;
}

.autor{
	background-color:lightblue;
	width: 28%;
	color:black;
	height: 320px;
	float:left;
	font-size: 10px;
}
.libros{
	width: 72%;
	height: 320px;
	color:black;
	float:left;
}

.libro{

	width: 33%;
	color:black;
	height: 310px;
	float:left;
}
img{
	float:left;
}

.ajustable{
	width:100%;
	height: 100%;
}

h1,h2,h3,h4,h5,h6{

	text-align: center;
	color: black;
}

p{
	text-align: justify;
	padding:10px;
	line-height: 25px;
	color: black;
	font-size: 16px;
}
nav{
  margin: 20px;
  padding: 10px;
  vertical-align: center;
	background-color: black;
	color: white;
	height: 30px;
	margin: :20px;


}
footer{
	background-color: black;
	color: white;
	height: 30px;
	width: 100%;
	margin: :20px;
	text-align: center;
}
